.main_container {
    width: 100%;
    min-height: 100%;
    background-color: var(--color-background);
}

.header {
    height: 75px;
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.5s ease-out;
    z-index: 999;
}

.header_container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    padding: 16px 64px;
    left: 50%;
    margin-left: -640px;
}

.content {
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: -10;
}

.link {
    margin-right: 32px;
    font-weight: 600;
    color: var(--color-text);
}

.link:hover{
    cursor: pointer;
}

.link_button {
    color: white;
    font-weight: 600;

    background-color: var(--color-primary);
    padding: 12px 24px;
    border-radius: 10px;
}

.name {
    font-size: 24px;
    color: var(--color-text);
    font-family: 'Aldrich', sans-serif;
}

.name:hover{
    cursor: pointer;
}

.name_blue {
    color: var(--color-primary);
    font-family: 'Aldrich', sans-serif;
}

/*START FOOTER CSS*/
.footer {
    width: 100%;
    background-color: var(--color-primary);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer_container {
    max-width: 1280px;
    width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 16px 64px;
}

.footer_icon{
    width: 35px;
    margin: .5rem;
}

.footer_icon:hover{
    cursor: pointer;
}

.footer_col_socials {
    height: fit-content;
    display: flex;
}
/*END FOOTER CSS*/